{% extends 'front.html.twig' %}

{% block title %}
	CV detail
{% endblock %}
{% block container %}
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>profile</h1>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
{% block body %}
	<div class="card" style="justify-content: center; align-items: center;">
		<div class="card-body">
			<h5 class="card-title">CV list</h5>

			<!-- Table with hoverable rows -->
			<table class="table table-hover">
				<tr>
					<th scope="col">nom</th>
					<td>{{ coach.nom }}</td>
				</tr>
				<tr>
					<th scope="col">prenom</th>
					<td>{{ coach.prenom }}</td>
				</tr>
				<tr>
					<th scope="col">nom</th>
					<td>{{ coach.adresse }}</td>
				</tr>
				<tr>
					<th scope="col">nom</th>
					<td>{{ coach.NumTel}}</td>
				</tr>
				<tr>
					<th scope="col">img</th>
					<td><img src="{{asset('uploads/cvs/{{ cv.image}}')}}" alt=""></td>
				</tr>
				<tr>
					<th scope="col">Activites</th>
					{% for act in cv.activites |default('undefined')%}
						<td>{{ act }}</td>
					{% endfor %}
				</tr>

				<tr>
					<th scope="col">Certification</th>
					<td>{{ cv.certification|default('undefined') }}</td>
				</tr>

				<tr>
					<th scope="col">Discription</th>
					<td>{{ cv.description|default('undefined') }}</td>
				</tr>

				<tr>
					<th scope="col">tarif</th>
					<td>{{ cv.tarif|default('undefined') }}</td>
				</tr>

				<tr>
					<th scope="col">Duree experience</th>
					<td>{{ cv.duree_experience|default('undefined') }}</td>
				</tr>

				<tr>
					<th scope="col">Niveau</th>
					<td>{{ cv.level|default('undefined') }}</td>
				</tr>

				<tr>
					<th scope="col">Action</th>
					<td>
						<button class="btn">
							<a href="{{ path ('app_list_coach')}}">Back to List</a>
						</button>
						<button class="btn">
							<a href="{{ path ('cv_pdf', {'id': coach.id|default('undefined')})}}">Download cv as PDF</a>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
{% endblock %}
