{% extends 'front.html.twig' %}

{% block title %} SportsVerse {% endblock %}

{% block body %}
    <h1> Vos Reclamations</h1>
        <a href="{{ path('app_reclamation_new') }}"><button class="btn btn-success mb-3">Créer</button></a>
    <table class="table">
        <thead>
            <tr>
             
                <th>Sujet</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Date</th>
                <th>Nom_client</th>
              <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
            
                <td>{{ reclamation.sujet }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.etat }}</td>
                <td>{{ reclamation.date ? reclamation.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reclamation.nomClient }}</td>
                </td>
                  <td>      
                    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}"><button class="btn btn-success mb-3">modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if isPaginated is defined and isPaginated %}
        <div class="row mt-2">
            <nav aria-label="col Page navigation example" style="margin-top:20px; margin-left:506px;" >
                <ul class="pagination" >
                    {% if page != 1 %}
                        <li class="page-item" >
                            <a
                                    class="page-link"
                                    href="{{ path('app_reclamation_index', {page: page - 1, nbre: nbre}) }}"
                         style="color:white ; background-color:green ;"  >
                                Précédent
                            </a></li>
                    {% endif %}
                    {% for i in range(1, nbrePage) %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ path('app_reclamation_index', {page: i, nbre: nbre}) }}"
                          style="color:white ; background-color:green ;"  >{{ i }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if page != nbrePage %}
                        <li class="page-item">
                            <a
                                    class="page-link"
                                    href="{{ path('app_reclamation_index', {page: page + 1, nbre: nbre}) }}"
                          style="color:white ; background-color:green;"  >Suivant</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>
    {% endif %}


{% endblock %}
