{% extends 'dashboard/index.html.twig' %}

{% block body %}
<div class="container-xxl flex-grow-1 container-p-y">


	<h4 class="fw-bold py-3 mb-4">
		<span class="text-muted fw-light">Dashboard /</span>
		Users
	</h4>

	<!-- Basic Bootstrap Table -->
	<div class="card">
		<h5 class="card-header">Liste des utilisateurs</h5>
		<div class="table-responsive text-nowrap">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Informations</th>
						<th>email et mot de passe</th>

						<th>is_verifie</th>
						<th>banned</th>
						<th>Role</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody class="table-border-bottom-0">
					{% for user in users %}

						<tr>
							<td>

								<strong>{{ user.prenom~" "~user.nom }}</strong>
								{#{% if user.etat == 0 %}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	<i style="color: #696cff" class='bx bxs-badge-check' data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="right" data-bs-html="true" title="" data-bs-original-title="verified">{{ user.email }}</i>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																{% endif %}#}

							</td>
							<td>
								<div>{{ user.email }}</div>


							</td>


							<td>
								<div class="form-check form-switch">

									<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" {{ user.isBanned? 'checked' }}>
									<label class="form-check-label" for="flexSwitchCheckChecked">{{ user.isVerified ? 'verifie' : 'No verifie'}}</label>
								</div>

							</td>

							<td>
								<div class="form-check form-switch">

									<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" {{ user.isBanned? 'checked' }}>
									<label class="form-check-label" for="flexSwitchCheckChecked">{{ user.isBanned? 'banned' : 'No Banned'}}</label>
								</div>
							</td>
							<td>

								{% for role in user.getRoles() %}
									<div>{{ role }}</div>
								{% endfor %}
							</td>

							<td>
								<a href="{{ path('app_user_afficher', {'id': user.id}) }}" class="nk-btn nk-btn-rounded nk-btn-color-white">
									<span>Show</span>
									<span class="icon">
										<i class="bx bx-edit-alt me-1"></i>
									</span>
								</a>
								<a class="btn " href="{{ path('app_users_update',{'id':user.id}) }}">
									<i class="bx bx-edit-alt me-1"></i>
									update</a>
								{# <a class="btn" href="{{ path('app_users_delete',{'id':user.id}) }}">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		<i class="bx bx-trash me-1"></i>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		Delete</a> #}
								{# <button onclick="deleteUser({{ user.id }})" class="dropdown-item">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		<i class="bx bx-trash me-1"></i>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		Delete</td> #}
							</td>
						</tr>

					</tbody>
				</tbody>
			</tr>
		</button>
	</tbody>
</td></tr></div></tbody></div></td></tr><div id="my-banned" class="kkkk" value="{{user.id}}"></div>{% endfor %}</tbody></table> </div></div></div>{% endblock %}{% block scriptjs %}<script>var checkbox = document.getElementById('flexSwitchCheckChecked');

window.onload = function () {
let myVariable = document.getElementById('my-banned').value;
console.log(myVariable)
};
checkbox.addEventListener('change', function () {


if (this.checked) {
let myVariable = document.getElementById('my-banned').class;
var xhr = new XMLHttpRequest();


}
});</script>{% endblock %}
