{% extends 'dashboard/index.html.twig' %}

{% block body %}
<div class="container-xxl flex-grow-1 container-p-y">


	<h4 class="fw-bold py-3 mb-4">
		<span class="text-muted fw-light">Dashboard /</span>
		Users
	</h4>

	<!-- Basic Bootstrap Table -->
	<div class="card">
		<h5 class="card-header">Liste des utilisateurs</h5>
		<div class="table-responsive text-nowrap">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Informations</th>
						<th>email et mot de passe</th>
						<th>Telephone</th>
						<th>adresse</th>
						<th>etat</th>
						<th>Role</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody class="table-border-bottom-0">
					{% for user in users %}
						{% set hiddenPassword = '' %}
						{% for i in 0..user.password|length - 1 %}
							{% set hiddenPassword = hiddenPassword ~ '*' %}
						{% endfor %}
						<tr>
							<td>

								<strong>{{ user.prenom~" "~user.nom }}</strong>
								{% if user.etat == 0 %}
									<i style="color: #696cff" class='bx bxs-badge-check' data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="right" data-bs-html="true" title="" data-bs-original-title="verified">{{ user.email }}</i>
								{% endif %}

							</td>
							<td>
								<div>{{ user.email }}</div>
								<div>password :
									{{ hiddenPassword }}</div>
							</td>
							<td>
								<div>{{ user.getNumTel()}}</div>
							</td>

							<td>
								<div>{{ user.adresse}}</div>
							</td>

							<td>
								<div>{{ user.etat ? 'Yes' : 'No'}}</div>
							</td>


							<td>


								<div>{{ user.role }}</div>

							</td>
							<td>
								<a href="{{ path('app_user_afficher', {'id': user.id}) }}" class="nk-btn nk-btn-rounded nk-btn-color-white">
									<span>Show</span>
									<span class="icon">
										<i class="ion-paper-airplane"></i>
									</span>
								</a>
								<a class="btn" href="{{ path('app_users_update',{'id':user.id}) }}">
									<i class="bx bx-edit-alt me-1"></i>
									update</a>
								{# <a class="btn" href="{{ path('app_users_delete',{'id':user.id}) }}">
																																	<i class="bx bx-trash me-1"></i>
																																	Delete</a> #}
								{# <button onclick="deleteUser({{ user.id }})" class="dropdown-item">
																																																																																	<i class="bx bx-trash me-1"></i>
																																																																																	Delete</td> #}
							</td>
						</tr>
					</button>
				</tbody>
			</td>
		</tr>
	</div>
</tbody></div></td></tr>{% endfor %}</tbody></table></div></div><!--/ Basic Bootstrap Table --></div> {% endblock %}
