{% extends 'back.html.twig' %}

{% block title %}Users
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Activite</h5>

			<!-- Table with hoverable rows -->
			<table class="table table-hover">
				<tr>
					<th scope="col">#</th>
					<th>{{ activite.id }}</th>
				</tr>
				<tr>

					<th scope="col">nom</th>
					<td>{{ activite.nom }}</td>
				</tr>

				<tr>

					<th scope="col">description</th>
					<td>{{ activite.description }}</td>
				</tr>

				<tr>

					<th scope="col">type</th>
					<td>{{ activite.type }}</td>
				</tr>
				<tr>

					<th scope="col">Coaches</th>
					<td>
						{% for i in activite.cvs %}
							{{ i.user_id }}
						{% endfor %}

					</td>
				</tr>
			</td>
		</tr>
		<td>
			<button>
				<a href="{{ path ('admin_list_activite')}}">Back to List</a>
			</button>
		</td>
	</thead>
</table>
<!-- End Table with hoverable rows --></div>{% endblock %}
